@{
    ViewData["Title"] = "Home Page";
}
<h2>Najlepsza drużyna: @ViewBag.BestTeam</h2>
<h2>Najlepszy zawodnik: @ViewBag.BestPlayer</h2>
<h2>Najlepszy zawodnik przeciwko drużynie: @ViewBag.BestVsTeam</h2>
